/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }


.mdl-layout__content {
	background-color: #f5f5f5;
}
.mdl-card__title {
	background-color: rgb(255, 191, 0);
	min-height: 60px;
}
.mdl-card__supporting-text {
  width: auto;
  height: 100%;
  overflow: scroll;
}
.checkbox-col {
	width: 1em;
}
.update_status {
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.std_height {
	height: 400px;
}
.min_height {
	height: 400px;
}
.why_blurb {

}
.mdl-data-table{ position: static; }
.table-scrollable {
	overflow-y: scroll;
}
.table-scrollable table {
    width: 100%;
}