$def with ( info )
$var title = 'Backend Config'

<center>
<h3><a href="/capabilities">Load / Unload Capabilities</a></h3>
<div style="text-align: left; width: 90%;">
	<h2>HCP</h2>
	<br/>
	<br/>
	<h4>Installers</h4>
	<table class="table table-bordered table-striped">
		<thead>
			<th>OrgId</th>
			<th>InstallerId</th>
			<th>Hash</th>
			<th>Description</th>
			<th>Creation</th>
			<th></th>
		</thead>
		<tbody>
			$for installer in info[ 'hcp_installers' ][ 'installers' ]:
				<tr>
					<td>$installer[ 'oid' ]</td>
					<td>$installer[ 'iid' ]</td>
					<td>$installer[ 'hash' ]</td>
					<td>$installer[ 'description' ]</td>
					<td>$installer[ 'created' ]</td>
					<td><a title="Download installer" class="glyphicon glyphicon-cloud-download" style="font-size: 30px;" href="/installer?oid=$installer[ 'oid' ]&iid=$installer[ 'iid' ]&hash=$installer[ 'hash' ]" target="_blank"></a></td>
				</tr>
		</tbody>
	</table>
	<br/>
	<br/>
	<h4>Modules</h4>
	<table class="table table-bordered table-striped">
		<thead>
			<th>ModuleId</th>
			<th>Hash</th>
			<th>Description</th>
		</thead>
		<tbody>
			$for module in info[ 'hcp_modules' ][ 'modules' ]:
				<tr>
					<td>$module[ 'module_id' ]</td>
					<td>$module[ 'hash' ]</td>
					<td>$module[ 'description' ]</td>
				</tr>
		</tbody>
	</table>
	<br/>
	<h4>Taskings</h4>
	<br/>
	<table class="table table-bordered table-striped">
		<thead>
			<th>ModuleId</th>
			<th>Hash</th>
			<th>Mask</th>
		</thead>
		<tbody>
			$for task in info[ 'hcp_taskings' ][ 'taskings' ]:
				<tr>
					<td>$task[ 'module_id' ]</td>
					<td>$task[ 'hash' ]</td>
					<td>$task[ 'mask' ]</td>
				</tr>
		</tbody>
	</table>
	<br/>
	<br/>
	<hr/>
	<h2>HBS</h2>
	<br/>
	<br/>
	<h4>Profiles</h4>
	<table class="table table-bordered table-striped">
		<tbody>
			$for profile in info[ 'hbs_profiles' ][ 'profiles' ]:
				<tr><b style="font-size: 120%;">Mask: </b><i>$profile[ 'mask' ]</i></tr>
				<tr>
					<td><pre><code>$profile[ 'original_configs' ]</code></pre></td>
				</tr>
		</tbody>
	</table>
</div>
</center>
