$def with ( capabilities, is_admin )
$var title = 'Capabilities'


$if is_admin:
    <div class="mdl-card mdl-cell mdl-cell--4-col mdl-shadow--4dp">
      <div class="mdl-card__title">
        <h4 class="mdl-card__title-text">Load Capability</h4>
        <button class="mdl-button mdl-js-button mdl-js-ripple-effect help-dialog" style="position: absolute; right: 0;">
          <div>
            <p>
              Load Capability allows you to load detections, hunters or patrols dynamically. 
            </p>
            <p>
              Specify one of URL or Patrol Content. If you specify URL, the capability stored there, whether a detection, hunter or patrol will be loaded and listed below.
              If you specify Patrol Content, you can copy and paste a patrol inline without having it available at a URL, it's ideal for testing.
            </p>
            <p>
              The name specified will be used to uniquely identify the capability. Use it in the Unload panel.
            </p>
          </div>
          <i class="material-icons">help</i>
        </button>
      </div>
      <div class="mdl-card__supporting-text" style="position: relative; ">
        <form method="POST" id="form_add_cap">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" type="text" id="urlToAdd" name="urlToAdd"/>
                <label class="mdl-textfield__label" for="urlToAdd">URL</label>
            </div>
            <br/>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <textarea class="mdl-textfield__input" type="text" rows= "3" id="contentToAdd" name="contentToAdd" ></textarea>
                <label class="mdl-textfield__label" for="urlToAdd">Patrol Content</label>
            </div>
            <br/>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" type="text" id="nameToAdd" name="nameToAdd"/>
                <label class="mdl-textfield__label" for="nameToAdd">Name</label>
            </div>
            <br/>
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <textarea class="mdl-textfield__input" type="text" rows= "3" id="argsToAdd" name="argsToAdd" ></textarea>
                <label class="mdl-textfield__label" for="urlToAdd">Arguments (JSON)</label>
            </div>
        </form>
      </div>
      <div class="mdl-card__actions mdl-card--border">
        <center>
            <button class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--raised" type="submit" form="form_add_cap" name="action" value="add_cap">Add Capability</button>
        </center>
      </div>
    </div>

    <div class="mdl-card mdl-cell mdl-cell--4-col mdl-shadow--4dp">
      <div class="mdl-card__title">
        <h4 class="mdl-card__title-text">Unload Capability</h4>
        <button class="mdl-button mdl-js-button mdl-js-ripple-effect help-dialog" style="position: absolute; right: 0;">
          <div>
            <p>
              Unload a previously loaded capability by name.
            </p>
          </div>
          <i class="material-icons">help</i>
        </button>
      </div>
      <div class="mdl-card__supporting-text" style="position: relative; ">
        <form method="POST" id="form_del_cap">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" type="text" id="nameToRem" name="nameToRem"/>
                <label class="mdl-textfield__label" for="nameToRem">Name</label>
            </div>
        </form>
      </div>
      <div class="mdl-card__actions mdl-card--border">
        <center>
            <button class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--raised" type="submit" form="form_del_cap" name="action" value="del_cap">Remove Capability</button>
        </center>
      </div>
    </div>


$for capName, capInfo in capabilities.iteritems():
    <div class="mdl-card mdl-cell mdl-cell--12-col mdl-shadow--4dp">
      <div class="mdl-card__title">
        <h4 class="mdl-card__title-text">Capability Name: $capName</h4>
      </div>
      <div class="mdl-card__supporting-text" style="position: relative; ">
        <pre class="code" style="border: 1px solid black;">$json.dumps( capInfo, indent = 2 )</pre>
      </div>
      <div class="mdl-card__actions mdl-card--border">
      </div>
    </div>
