$def with ( event, atom )
<div class="mdl-card mdl-cell mdl-cell--8-col mdl-shadow--4dp std_height">
  <div class="mdl-card__title">
    <h4 class="mdl-card__title-text">Event: $event[ 1 ].keys()[ 0 ]</h4>
  </div>
  <div class="mdl-card__supporting-text">
    $if 'base.TIMESTAMP' in event[ 1 ].values()[ 0 ]:
        <h5>Time: $msTsToTime( event[ 1 ].values()[ 0 ][ 'base.TIMESTAMP' ] )</h5>
    <a href="/downloadfileinevent?id=$event[ 0 ]">Download file in this event</a>
    <br/>
    <a href="/explore?atid=$atom">View this Event in Explorer</a>
    <pre style="text-align: left;"><code>$json.dumps( event[ 1 ], indent = 2 )</code></pre>
  </div>
  <div class="mdl-card__actions mdl-card--border">
  </div>
</div>