$def with ( aid, hostname, orgName, tags )
<div class="mdl-card mdl-cell mdl-cell--4-col mdl-shadow--4dp std_height">
  <div class="mdl-card__title">
    <h4 class="mdl-card__title-text">Sensors Ident: $hostname</h4><div class="mdl-layout-spacer"></div><i class="material-icons online_status" sid="$aid.sensor_id" rate="30">lightbulb_outline</i>
  </div>
  <div class="mdl-card__supporting-text">
    <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp" style="width: 100%;">
      <tbody>
        <tr>
          <td class="mdl-data-table__cell--non-numeric click-to-copy"><b>Org</b></td>
          <td class=" click-to-copy">$orgName</td>
        </tr>
        <tr>
          <td class="mdl-data-table__cell--non-numeric click-to-copy"><b>Installer Id</b></td>
          <td class=" click-to-copy">$aid.ins_id</td>
        </tr>
        <tr>
          <td class="mdl-data-table__cell--non-numeric click-to-copy"><b>Sensor Id</b></td>
          <td class=" click-to-copy">$aid.sensor_id</td>
        </tr>
        <tr>
          <td class="mdl-data-table__cell--non-numeric click-to-copy"><b>Hostname (Plat./Arch.)</b></td>
          <td class=" click-to-copy">$hostname $("%s %s" % ( aid.platformString(), aid.architectureString() ) )</td>
        </tr>
        <tr>
          <td class="mdl-data-table__cell--non-numeric click-to-copy"><b>Last IP (ext/int)</b></td>
          <td class=" click-to-copy last_sensor_ip" sid="$aid.sensor_id"></td>
        </tr>
        <tr>
          <td class="mdl-data-table__cell--non-numeric" style="width: 100%;" colspan="2" id="tags_$aid.sensor_id">
            $for tag in tags:
              <span class="mdl-chip mdl-chip--deletable" style="background-color: rgba(255, 0, 0, 0.52);" sid="$aid.sensor_id" tag="$tag">
                <span class="mdl-chip__text">$tag</span>
                <button type="button" class="mdl-chip__action"><i class="material-icons">cancel</i></button>
              </span>
            <span class="mdl-chip mdl-chip--contact" style="background-color: rgba(0, 255, 205, 0.52);" sid="$aid.sensor_id">
              <span class="mdl-chip__contact mdl-color--teal mdl-color-text--white">+</span>
              <span class="mdl-chip__text"><input class="mdl-textfield__input add_tag" sid="$aid.sensor_id" type="text" placeholder="new_tag_name"></span>
            </span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="mdl-card__actions mdl-card--border">
  </div>
</div>