$def with (org_name, members)
<div class="mdl-card mdl-cell mdl-cell--4-col mdl-shadow--4dp std_height">
  <div class="mdl-card__title">
    <h4 class="mdl-card__title-text">Org Members: $org_name</h4>
    <button class="mdl-button mdl-js-button mdl-js-ripple-effect help-dialog" style="position: absolute; right: 0;">
      <div>
        <p>
          Org Members is the list of users that are members of the organization. They have access to all sensor data and config.
        </p>
      </div>
      <i class="material-icons">help</i>
    </button>
  </div>
  <div class="mdl-card__supporting-text">
    <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp" style="width: 100%;">
      <thead>
        <tr>
          <th class="mdl-data-table__cell--non-numeric">Name</th>
          <th class="mdl-data-table__cell--non-numeric">UID</th>
        </tr>
      </thead>
      <tbody>
        $for member in members:
          <tr>
            <td class="mdl-data-table__cell--non-numeric click-to-copy">$member[ 0 ]</td>
            <td class="mdl-data-table__cell--non-numeric click-to-copy">$member[ 1 ]</td>
          </tr>
      </tbody>
    </table>
  </div>
  <div class="mdl-card__actions mdl-card--border">
  </div>
</div>