$def with ( aid, hostname, orgName )
<div class="mdl-card mdl-cell mdl-cell--4-col mdl-shadow--4dp std_height">
  <div class="mdl-card__title">
    <h4 class="mdl-card__title-text">Sensors Ident: $hostname</h4><div class="mdl-layout-spacer"></div><i class="material-icons online_status" sid="$aid.sensor_id" rate="30">lightbulb_outline</i>
  </div>
  <div class="mdl-card__supporting-text">
    <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp" style="width: 100%;">
      <tbody>
        <tr>
          <td class="mdl-data-table__cell--non-numeric click-to-copy"><b>Org Id</b></td>
          <td class=" click-to-copy">$aid.org_id ($orgName)</td>
        </tr>
        <tr>
          <td class="mdl-data-table__cell--non-numeric click-to-copy"><b>Installer Id</b></td>
          <td class=" click-to-copy">$aid.ins_id</td>
        </tr>
        <tr>
          <td class="mdl-data-table__cell--non-numeric click-to-copy"><b>Sensor Id</b></td>
          <td class=" click-to-copy">$aid.sensor_id</td>
        </tr>
        <tr>
          <td class="mdl-data-table__cell--non-numeric click-to-copy"><b>Hostname</b></td>
          <td class=" click-to-copy">$hostname</td>
        </tr>
        <tr>
          <td class="mdl-data-table__cell--non-numeric click-to-copy"><b>Platform/Architecture</b></td>
          <td class=" click-to-copy">$("%s %s" % ( aid.platformString(), aid.architectureString() ) )</td>
        </tr>
        <tr>
          <td class="mdl-data-table__cell--non-numeric click-to-copy"><b>Last IP (ext/int)</b></td>
          <td class=" click-to-copy last_sensor_ip" sid="$aid.sensor_id"></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="mdl-card__actions mdl-card--border">
  </div>
</div>