$def with ( totp, totpImg )
$var title = 'Change Password'
<div class="mdl-layout-spacer"></div>
<div class="mdl-card mdl-cell mdl-cell--4-col mdl-shadow--4dp min_height">
  <div class="mdl-card__title">
    <h2 class="mdl-card__title-text">Change Password</h2>
  </div>
  <div class="mdl-card__supporting-text">
    <form method="POST" id="form_change_password">
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="password" id="userpass" name="password" />
        <label class="mdl-textfield__label" for="userpass">Password</label>
      </div>
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="password" id="repeat_userpass" name="repeat_password" />
        <label class="mdl-textfield__label" for="repeat_userpass">Repeat Password</label>
        <span id="confirmMessage" class="confirmMessage"></span>
      </div>
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="text" id="totp" name="totp"/>
        <label class="mdl-textfield__label" for="totp">2nd Factor</label>
      </div>
    </form>
  </div>
  <div class="mdl-card__actions mdl-card--border">
    <center>
      <button class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--raised" type="submit" form="form_change_password" name="action" value="change" onclick="return checkPass();">Change Password</button>
    </center>
  </div>
</div>
<div class="mdl-layout-spacer"></div>
$if totp is not None:
  <div class="mdl-card mdl-cell mdl-cell--4-col mdl-shadow--4dp min_height">
    <div class="mdl-card__title">
      <h2 class="mdl-card__title-text">2nd Factor</h2>
    </div>
    <div class="mdl-card__supporting-text">
      Please record the following two factor token in the Authenticator app.<br/>
      It is REQUIRED for ALL FUTURE LOGIN.<br/>
      <img src="$totpImg"/><br/><br/>
      <b>Secret: </b><i>$totp</i>
      <br/><br/>
      <b><i>Once you've added the 2nd factor, enter it in the change password form.</i></b>
    </div>
    <div class="mdl-card__actions mdl-card--border">
    </div>
  </div>
  <div class="mdl-layout-spacer"></div>
<script>
function checkPass()
{
    var pass1 = document.getElementById('userpass');
    var pass2 = document.getElementById('repeat_userpass');
    var message = document.getElementById('confirmMessage');
    var goodColor = "#66cc66";
    var badColor = "#ff6666";
    if(pass1.value == pass2.value){
        pass2.style.backgroundColor = goodColor;
        message.style.color = goodColor;
        message.innerHTML = "Passwords Match!"
        return true;
    }else{
        //The passwords do not match.
        //Set the color to the bad color and
        //notify the user.
        pass2.style.backgroundColor = badColor;
        message.style.color = badColor;
        message.innerHTML = "Passwords Do Not Match!"
        return false;
    }
}
</script>