$def with (cards)
$var title = 'Dashboard'
<div class="mdl-card mdl-cell mdl-cell--10-col mdl-shadow--8dp" style="height: 300px;">
  <div class="mdl-card__title">
    <h4 class="mdl-card__title-text">What's New&nbsp;<i class="material-icons">announcement</i></h4>
  </div>
  <div class="mdl-card__supporting-text">
  	<center>
	    <h4>Detections & Capabilities</h4>
	    <p>The new Detections menu will show the results of Investigations by the automated Hunters.</p>
	    <p>The Capabilities menu will display the currently active Detections and Hunters.</p>
    </center>
  </div>
  <div class="mdl-card__actions mdl-card--border">
  </div>
</div>
$for card in cards:
  $:card