$def with ( no2fa )

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="An endpoint monitoring sensor.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>LimaCharlie - Login</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.2.1/material.orange-light_green.min.css" />
    <link rel="stylesheet" href="/static/css/lc.css">
    <script defer src="https://code.getmdl.io/1.2.1/material.min.js"></script>
  </head>
  <body bgcolor="#000000" style="height: 100%;">
    <div style="background-image: url(/static/img/logo.png); background-size: cover; height: 100%; background-repeat: no-repeat; background-position: center; position: relative; opacity: 0.50;">
    </div>
    <div style="position: absolute; left: 0; right: 0; top: 0; bottom: 0; width: 20%; margin: auto; display: table; text-align: center; color: white; border-radius: 20px; background-color: rgba(150, 150, 150, 0.4);">
      <form method="POST" action="/login" id="form_login" style="padding: 20px;">
        <h4>Login</h4>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <input class="mdl-textfield__input" type="email" id="email" name="email"/>
          <label class="mdl-textfield__label" style="color: white;" for="email">Email</label>
        </div>
        <br/>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <input class="mdl-textfield__input" type="password" id="userpass" name="password" />
          <label class="mdl-textfield__label" style="color: white;" for="userpass">Password</label>
        </div>
        <br/>
        $if no2fa:
          <input type="hidden" id="totp" name="totp" value=""/>
        $else:
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="text" id="totp" name="totp"/>
            <label class="mdl-textfield__label" style="color: white;" for="totp">2nd Factor</label>
          </div>
        <br/>
        <br/>
        <i>If you are logging in with a default password, leave the 2nd Factor field blank.</i>
        </form>
      </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  </body>
  </div>
</html>