$def with ( installers, profiles, orgNames, logs, whitelist )
$var title = 'Manage'
<center><h4 style="color: red;">By using this service, downloading installers and installing sensors, you understand and agree to the service policy as outlined <a href="/policy">HERE</a></h4></center>
$for oid, installerList in installers.iteritems():
  <div class="mdl-card mdl-cell mdl-cell--12-col mdl-shadow--4dp min_height">
    <div class="mdl-card__title">
      <h2 class="mdl-card__title-text">Installers: $orgNames[ oid ]</h2>
      <button class="mdl-button mdl-js-button mdl-js-ripple-effect help-dialog" style="position: absolute; right: 0;">
      <div>
        <p>
          Installers are organization specific. They are keyed to each organization in way that ensures sensors cannot get mixed up or controlled by any other organization.
        </p>
        <p>
          Always download the installer right before installing on hosts to ensure you have the latest version. 
          When new installers are generated, by default old installers will become unable to enroll new sensors. 
          This allows you to quickly cycle installers in the event you lose control of it (upload to VT for example).
        </p>
      </div>
      <i class="material-icons">help</i>
    </button>
    </div>
    <div class="mdl-card__supporting-text">
      <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp" style="width: 100%;">
        <thead>
          <tr>
            <th class="mdl-data-table__cell--non-numeric">Installer ID</th>
            <th class="mdl-data-table__cell--non-numeric">Hash</th>
            <th class="mdl-data-table__cell--non-numeric">Description</th>
            <th class="mdl-data-table__cell--non-numeric">Action</th>
          </tr>
        </thead>
        <tbody>
          $for installer in installerList[ 'installers' ]:
            <tr>
              <td class="mdl-data-table__cell--non-numeric click-to-copy">$installer[ 'iid' ]</td>
              <td class="mdl-data-table__cell--non-numeric click-to-copy">$installer[ 'hash' ]</td>
              <td class="mdl-data-table__cell--non-numeric click-to-copy">$installer[ 'description' ]</td>
              <td>
                <a href="/installer?hash=$installer[ 'hash' ]&iid=$installer[ 'iid' ]&oid=$oid"><i class="material-icons">cloud_download</i></a>
                <!--&nbsp;
                <a href="/delete_installer?hash=$installer[ 'hash' ]"><i class="material-icons">delete_forever</i></a>-->
              </td>
            </tr>
        </tbody>
      </table>
      <br/>

      $for wlInfo in whitelist[ oid ][ 'whitelist' ]:
        <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp" style="width: 100%;">
          <thead>
            <tr>
              <th class="mdl-data-table__cell--non-numeric">Installation Key</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="mdl-data-table__cell--non-numeric click-to-copy" style="word-break: break-all; font-family: monospace; white-space: normal;">
                $wlInfo[ 'bootstrap' ]
              </td>
            </tr>
          </tbody>
        </table>
        <br/>
      <hr/>
      <center>
        <strong><i>
          Installers must run as Administrator or root users.
        </i></strong>
        <br/><br/>
        <strong>On Windows</strong>, execute the installer on an administrator command prompt with the argument <i>-i InsallationKey</i>, where the InstallationKey is the one displayed above.
        <br/>
        <strong>On MacOS</strong>, execute the installer in a root terminal with the argument <i>-i InsallationKey</i>, where the InstallationKey is the one displayed above.
        <br/>
        <strong>On Linux</strong>, the binary is not an installer to let you use whatever "bootstrap" system you want to use. Running it with <i>-d InstallationKey</i>, where the InstallationKey is the one displayed above, will permit it to enroll.
      </center>
    </div>
    <div class="mdl-card__actions mdl-card--border">
    </div>
  </div>
$for oid, logEvents in logs.iteritems():
  <div class="mdl-card mdl-cell mdl-cell--12-col mdl-shadow--4dp min_height">
    <div class="mdl-card__title">
      <h2 class="mdl-card__title-text">Audit Logs: $orgNames[ oid ]</h2>
      <button class="mdl-button mdl-js-button mdl-js-ripple-effect help-dialog" style="position: absolute; right: 0;">
      <div>
        <p>
          Audit Logs represents actions that were taken by members or administrators that influence activity of the organization or are otherwise important (like a user exporting data from a sensor).
        </p>
      </div>
      <i class="material-icons">help</i>
    </button>
    </div>
    <div class="mdl-card__supporting-text">
      <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp" style="width: 100%;">
        <thead>
          <tr>
            <th class="mdl-data-table__cell--non-numeric">Time</th>
            <th class="mdl-data-table__cell--non-numeric">Action</th>
            <th class="mdl-data-table__cell--non-numeric">Message</th>
          </tr>
        </thead>
        <tbody>
          $for logEvent in logEvents:
            <tr>
              <td class="mdl-data-table__cell--non-numeric click-to-copy">$msTsToTime( logEvent[ 0 ] )</td>
              <td class="mdl-data-table__cell--non-numeric click-to-copy">$logEvent[ 1 ]</td>
              <td class="mdl-data-table__cell--non-numeric click-to-copy">$logEvent[ 2 ]</td>
            </tr>
        </tbody>
      </table>
    </div>
    <div class="mdl-card__actions mdl-card--border">
    </div>
  </div>
  