$def with ( orgs, all_orgs, extra_cards, all_users, org_configs)
$var title = 'Profile'
<div class="mdl-card mdl-cell mdl-cell--4-col mdl-shadow--4dp std_height">
  <div class="mdl-card__title">
    <h2 class="mdl-card__title-text">Member Organizations</h2>
    <button class="mdl-button mdl-js-button mdl-js-ripple-effect help-dialog" style="position: absolute; right: 0;">
      <div>
        <p>
          Member Organizations lists all the organizations the currently logged in user is a member of.
        </p>
      </div>
      <i class="material-icons">help</i>
    </button>
  </div>
  <div class="mdl-card__supporting-text">
    <form method="POST" id="form_member_org">
      <div class="table-scrollable">
        <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
          <thead>
            <th class="checkbox-col"></th>
            <th class="mdl-data-table__cell--non-numeric">Name</th>
            <th class="mdl-data-table__cell--non-numeric">OID</th>
          </thead>
          <tbody>
            $for org in orgs:
              <tr>
                <td class="checkbox-col">
                  <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect mdl-data-table__select">
                    <input type="checkbox" name="orgs" value="$org[1]" class="mdl-checkbox__input" />
                  </label>
                </td>
                <td class="mdl-data-table__cell--non-numeric click-to-copy">$org[ 0 ]</td>
                <td class="mdl-data-table__cell--non-numeric click-to-copy">$org[ 1 ]</td>
              </tr>
          </tbody>
        </table>
      </div>
      <div class="mdl-textfield mdl-js-textfield">
        <input class="mdl-textfield__input" type="email" id="email" name="email"/>
        <label class="mdl-textfield__label" for="email">Email</label>
      </div>
    </form>
  </div>
  <div class="mdl-card__actions mdl-card--border">
    <center>
      <button class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--raised" type="submit" form="form_member_org" name="action" value="leave" onclick="return confirm('Are you sure you want to leave the selected orgs?');">Leave Selected</button>
      <button class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--raised" type="submit" form="form_member_org" name="action" value="join" onclick="return confirm('Are you sure you want to add the user to the selected orgs?');">Add to Selected</button>
      <button class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--raised" type="submit" form="form_member_org" name="action" value="kick" onclick="return confirm('Are you sure you want to remove the user from the selected orgs?');">Remove from Selected</button>
    </center>
  </div>
</div>
<div class="mdl-card mdl-cell mdl-cell--4-col mdl-shadow--4dp std_height">
  <div class="mdl-card__title">
    <h2 class="mdl-card__title-text">Change Password</h2>
  </div>
  <div class="mdl-card__supporting-text">
    Change password...
  </div>
  <div class="mdl-card__actions mdl-card--border">
    <form method="GET" action="/changepassword">
      <center>
        <button class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--raised" type="submit">Change Password</button>
      </center>
    </form>
  </div>
</div>

$for card in extra_cards:
  $:card

$for orgInfo, orgConf in org_configs.iteritems():
  <div class="mdl-card mdl-cell mdl-cell--4-col mdl-shadow--4dp std_height">
    <div class="mdl-card__title">
      <h2 class="mdl-card__title-text">Slack App: $orgInfo[ 0 ]</h2>
    </div>
    <div class="mdl-card__supporting-text">
      <form method="POST" id="form_slack_token_$orgInfo[ 1 ]">
        Instructions on how to setup Slack for your community are found <a href="https://github.com/refractionPOINT/limacharlie/wiki/Slack-App">here</a>.
        <br/><br/>
        <input type="hidden" name="oid" value="$orgInfo[ 1 ]"/>
        <div class="mdl-textfield mdl-js-textfield" style="width: 100%;">
          <input class="mdl-textfield__input" type="password" id="slacktoken" name="slacktoken" value="$orgConf[ '%s/slack_token' % orgInfo[ 1 ] ]"/>
          <label class="mdl-textfield__label" for="slacktoken">Slack Token</label>
        </div>
        <br/><br/>
        <div class="mdl-textfield mdl-js-textfield" style="width: 100%;">
          <input class="mdl-textfield__input" type="password" id="slackbottoken" name="slackbottoken" value="$orgConf[ '%s/slack_bot_token' % orgInfo[ 1 ] ]"/>
          <label class="mdl-textfield__label" for="slackbottoken">Slack Bot Token</label>
        </div>
      </form>
    </div>
    <div class="mdl-card__actions mdl-card--border">
      <center>
        <button class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--raised" type="submit" form="form_slack_token_$orgInfo[ 1 ]" name="action" value="slack_update" onclick="return confirm('Are you sure you want to update the Slack app token?');">Update Token</button>
      </center>
    </div>
  </div>

  <div class="mdl-card mdl-cell mdl-cell--4-col mdl-shadow--4dp std_height">
    <div class="mdl-card__title">
      <h2 class="mdl-card__title-text">Webhook: $orgInfo[ 0 ]</h2>
    </div>
    <div class="mdl-card__supporting-text">
      <form method="POST" id="form_webhook_$orgInfo[ 1 ]">
        Instructions on how to setup the webhook for your community are found <a href="https://github.com/refractionPOINT/limacharlie/wiki/webhook">here</a>.
        <br/><br/>
        <input type="hidden" name="oid" value="$orgInfo[ 1 ]"/>
        <div class="mdl-textfield mdl-js-textfield" style="width: 100%;">
          <input class="mdl-textfield__input" type="password" id="webhook_secret" name="webhook_secret" value="$orgConf[ '%s/webhook_secret' % orgInfo[ 1 ] ]"/>
          <label class="mdl-textfield__label" for="webhook_secret">Webhook Secret</label>
        </div>
        <br/><br/>
        <div class="mdl-textfield mdl-js-textfield" style="width: 100%;">
          <input class="mdl-textfield__input" type="url" id="webhook_dest" name="webhook_dest" value="$orgConf[ '%s/webhook_dest' % orgInfo[ 1 ] ]"/>
          <label class="mdl-textfield__label" for="webhook_dest">Webhook Destination URL</label>
        </div>
      </form>
    </div>
    <div class="mdl-card__actions mdl-card--border">
      <center>
        <button class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--raised" type="submit" form="form_webhook_$orgInfo[ 1 ]" name="action" value="webhook_update" onclick="return confirm('Are you sure you want to update the webhook?');">Update Webhook</button>
      </center>
    </div>
  </div>

$if all_orgs is not None:
  <div class="mdl-card mdl-cell mdl-cell--4-col mdl-shadow--4dp std_height">  
    <div class="mdl-card__title">
      <h2 class="mdl-card__title-text">All Organizations</h2>
      <button class="mdl-button mdl-js-button mdl-js-ripple-effect help-dialog" style="position: absolute; right: 0;">
      <div>
        <p>
          All Organizations is available to administrators to see the entire list of all organizations hosted.
        </p>
      </div>
      <i class="material-icons">help</i>
    </button>
    </div>
    <div class="mdl-card__supporting-text">
      <form method="POST" id="form_admin_orgs">
        <div class="table-scrollable std_height">
          <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
            <thead>
              <th class="checkbox-col"></th>
              <th class="mdl-data-table__cell--non-numeric">Name</th>
              <th class="mdl-data-table__cell--non-numeric">OID</th>
            </thead>
            <tbody>
              $for org in all_orgs:
                <tr>
                  <td class="checkbox-col">
                    <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect mdl-data-table__select">
                      <input type="checkbox" name="orgs" value="$org[1]" class="mdl-checkbox__input" />
                    </label>
                  </td>
                  <td class="mdl-data-table__cell--non-numeric click-to-copy">$org[ 0 ]</td>
                  <td class="mdl-data-table__cell--non-numeric click-to-copy">$org[ 1 ]</td>
                </tr>
            </tbody>
          </table>
        </div>
      </form>
    </div>
    <div class="mdl-card__actions mdl-card--border">
      <center>
        <button class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--raised" type="submit" form="form_admin_orgs" name="action" value="admin_join" onclick="return confirm('Are you sure you want to ADMIN-join the selected orgs?');">Join Organizations</button>
      </center>
    </div>
  </div>

  <div class="mdl-card mdl-cell mdl-cell--4-col mdl-shadow--4dp std_height">  
    <div class="mdl-card__title">
      <h2 class="mdl-card__title-text">Create/Delete Account</h2>
      <button class="mdl-button mdl-js-button mdl-js-ripple-effect help-dialog" style="position: absolute; right: 0;">
      <div>
        <p>
          Create/Delete Account allows you to create a new account that is not associated with any organization.
        </p>
        <p>
          If a paging email account is configured in your cloud configs, it will be used to automatically send an enrollment email to the user.
          If no paging account is configured, a secret enrollment link will be displayed and you are responsible for copy pasting it to your new user.
        </p>
      </div>
      <i class="material-icons">help</i>
    </button>
    </div>
    <div class="mdl-card__supporting-text">
      <form method="POST" id="form_admin_mod_account">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <input class="mdl-textfield__input" type="email" id="email" name="email"/>
          <label class="mdl-textfield__label" for="email">Email</label>
        </div>
      </form>
    </div>
    <div class="mdl-card__actions mdl-card--border">
      <center>
        <button class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--raised" type="submit" form="form_admin_mod_account" name="action" value="account_create" onclick="return confirm('Are you sure you want to CREATE this acocunt?');">Create Account</button>
        <button class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--raised" type="submit" form="form_admin_mod_account" name="action" value="account_delete" onclick="return confirm('Are you sure you want to DELETE this acocunt?');">Delete Account</button>
      </center>
    </div>
  </div>

  <div class="mdl-card mdl-cell mdl-cell--4-col mdl-shadow--4dp std_height">  
    <div class="mdl-card__title">
      <h2 class="mdl-card__title-text">Create Org</h2>
      <button class="mdl-button mdl-js-button mdl-js-ripple-effect help-dialog" style="position: absolute; right: 0;">
      <div>
        <p>
          Create Org creates a new organization without any users in it. The name of the organization is not necessarily unique.
        </p>
        <p>
          A new set of sensors and keys will be generated for the new organization.
        </p>
      </div>
      <i class="material-icons">help</i>
    </button>
    </div>
    <div class="mdl-card__supporting-text">
      <form method="POST" id="form_admin_mod_org">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <input class="mdl-textfield__input" type="text" id="orgname" name="orgname"/>
          <label class="mdl-textfield__label" for="orgname">Org Name</label>
        </div>
      </form>
    </div>
    <div class="mdl-card__actions mdl-card--border">
      <center>
        <button class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--raised" type="submit" form="form_admin_mod_org" name="action" value="org_create" onclick="return confirm('Are you sure you want to CREATE this org?');">Create Org</button>
      </center>
    </div>
  </div>

  <div class="mdl-card mdl-cell mdl-cell--4-col mdl-shadow--4dp std_height">  
    <div class="mdl-card__title">
      <h2 class="mdl-card__title-text">Generate Sensors</h2>
      <button class="mdl-button mdl-js-button mdl-js-ripple-effect help-dialog" style="position: absolute; right: 0;">
      <div>
        <p>
          Generate Sensors allows you to trigger the re-generation of sensors for all of the selector organizations.
        </p>
        <p>
          Use this to generate new installers based on a new version of LimaCharlie (configured in your cloud configs).
        </p>
      </div>
      <i class="material-icons">help</i>
    </button>
    </div>
    <div class="mdl-card__supporting-text">
      Select the organizations for which you'd like to re-generate the installers and sensors from the 
      currently set sensor package.
      <form method="POST" id="form_deploy_orgs">
        <div class="table-scrollable">
          <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
            <thead>
              <th class="checkbox-col"></th>
              <th class="mdl-data-table__cell--non-numeric">Name</th>
              <th class="mdl-data-table__cell--non-numeric">OID</th>
            </thead>
            <tbody>
              $for org in all_orgs:
                <tr>
                  <td class="checkbox-col">
                    <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect mdl-data-table__select">
                      <input type="checkbox" name="orgs" value="$org[1]" class="mdl-checkbox__input" />
                    </label>
                  </td>
                  <td class="mdl-data-table__cell--non-numeric click-to-copy">$org[ 0 ]</td>
                  <td class="mdl-data-table__cell--non-numeric click-to-copy">$org[ 1 ]</td>
                </tr>
            </tbody>
          </table>
        </div>
      </form>
    </div>
    <div class="mdl-card__actions mdl-card--border">
      <center>
        <button class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--raised" type="submit" form="form_deploy_orgs" name="action" value="org_deploy" onclick="return confirm('Are you sure you want to re-generate the sensors for the selected orgs?');">Re Generate</button>
      </center>
    </div>
  </div>

  <div class="mdl-card mdl-cell mdl-cell--4-col mdl-shadow--4dp std_height">  
    <div class="mdl-card__title">
      <h2 class="mdl-card__title-text">All Users</h2>
      <button class="mdl-button mdl-js-button mdl-js-ripple-effect help-dialog" style="position: absolute; right: 0;">
      <div>
        <p>
          All Users is available to administrators to see the user list of all organizations hosted.
        </p>
      </div>
      <i class="material-icons">help</i>
    </button>
    </div>
    <div class="mdl-card__supporting-text">
      <form method="POST" id="form_admin_orgs">
        <div class="table-scrollable">
          <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp" style="width: 100%;">
            <thead>
              <tr>
                <th class="mdl-data-table__cell--non-numeric">Name</th>
                <th class="mdl-data-table__cell--non-numeric">UID</th>
              </tr>
            </thead>
            <tbody>
              $for uid, email in all_users.iteritems():
                <tr>
                  <td class="mdl-data-table__cell--non-numeric click-to-copy">$email</td>
                  <td class="mdl-data-table__cell--non-numeric click-to-copy">$uid</td>
                </tr>
            </tbody>
          </table>
        </div>
      </form>
    </div>
    <div class="mdl-card__actions mdl-card--border">
    </div>
  </div>